<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- load the properties file: sport.properties -->
    <context:property-placeholder location="file:src/SpringDemo/sport.properties"/>
    
    <!-- Define your beans here -->
    <bean id="myFortune" class="SpringDemo.springCore.HappyFortuneService"></bean>
    
    <bean id="myCoach" class="SpringDemo.springCore.BaseballCoach">
        <!-- set up constructor injection -->
        <constructor-arg ref="myFortune"/>
        <!-- time --> 
        <constructor-arg  type = "int"> 
            <value>30</value>
        </constructor-arg>
        
        
    </bean>
    <bean id="myCricketCoach"  class="SpringDemo.springCore.CricketCoach">
        <!-- property name it will be setter -->
        <property name="fortuneService" ref="myFortune"/>
        
        <property name="Email" value="${coach.email}"/>
        <property name="Team" value="${coach.team}"/>
        
    </bean>
    

</beans>





